<header class="fixed-top">
  <script>
    document.querySelector('.navbar-toggler').addEventListener('click', function () {
      this.classList.toggle('active');
    });
  </script>

  <!-- -Navbar -->
  <div class="container">
    <nav class="navbar navbar-expand-md navbar-light content mx-auto">
      <!-- Aditya Wagh -->
      <a class="navbar-brand ml-3 d-md-none" href="https://adityamwagh.github.io">
        <img class="align-middle" src="{{ site.baseurl }}/assets/icons/icon.png" width="36px" height="auto">
      </a>

      <!-- Toggler/collapsibe Button -->
      <button class="navbar-toggler mr-3 justify-content-end" data-target="#collapsibleNavbar" data-toggle="collapse" type="button">
        <span class="toggler-icon top-bar"></span>
        <span class="toggler-icon middle-bar"></span>
        <span class="toggler-icon bottom-bar"></span>
      </button>

      <!-- Navbar links -->
      <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav vh-100-small w-100 d-inline-flex text-capitalize">
          <!-- Home -->
          <li class="nav-item mx-auto">
            <a class="nav-link" href="/"><i class="fas fa-home"></i>&nbsp;home</a>
          </li>

          <!-- Blog -->
          <li class="nav-item mx-auto">
            <a class="nav-link" href="/blog"><i class="fa fa-pencil" aria-hidden="true"></i>&nbsp;blog</a>
          </li>
          
        </ul>
      </div>
    </nav>
  </div>
</header>