<div class="container">
  <div class="row align-items-center">

    <!-- Left: Image + Socials + Job Advert -->
    <div class="col-lg-5 text-center mb-4 mb-lg-0">
      <!-- Profile Image -->
      <img src="assets/images/profile.webp" class="img-fluid rounded-circle shadow-sm mb-3" alt="Aditya Wagh"
        style="max-width: 300px;">

      <!-- Social Icons -->
      <div class="d-flex justify-content-center my-3">
        {% include socials.html %}
      </div>


    </div>

    <!-- Right: About Section -->
    <div class="col-lg-7">
      {% capture about %}{% include about.md %}{% endcapture %}
      <div class="about-content">
        {{ about | markdownify }}
      </div>
    </div>

  </div>
</div>