<div class="my-5">
  <h1 class="text-center mb-4" id="projects">Projects</h1>
  <p class="text-center mb-5">
    Below is a list of my notable projects. Feel free to have a look at whatever you find interesting!
  </p>

  <div class="projects-list">
    {% for project in site.data.projects %}
    <div class="card border border-secondary-subtle my-4 shadow-sm rounded-3">
      <div class="row g-0 flex-column flex-md-row align-items-center">

        <!-- Project Image -->
        <div class="col-md-4 text-center p-3">
          <img src="{{ project.image }}" alt="{{ project.title }}" class="img-fluid border-0 rounded w-100"
            style="max-height: 220px; object-fit: cover;">
        </div>

        <!-- Project Details -->
        <div class="col-md-8 p-4">
          <h5 class="fs-3 text-capitalize mb-3 mt-0">{{ project.title }}</h5>
          <p class="card-text mb-4">{{ project.description }}</p>
          <a href="{{ project.code }}" target="_blank" class="btn btn-success rounded btn-sm px-4 py-2">View Code</a>
        </div>

      </div>
    </div>
    {% endfor %}
  </div>
</div>