// Tables
td, th {
    padding: 1em;
    text-align: justify;
}

/* Tables */
table {
    margin-bottom: 1rem;
    width: 100%;
    width: 100%;
}

.rouge-table {
    margin-top: 0em !important;
    margin-bottom: 0em !important;
}