--- 
--- 

// Variables
$font-family: "Satoshi", "Jost", system-ui, ui-sans-serif, sans-serif !important;
$font-size: 18px!important;
$line-height: 1.5 !important;
$letter-spacing: 0 !important;
$spacing-unit: 2rem !important;
$content-width: 60rem;
$enable-cssgrid: true;
$enable-dark-mode: true;

@charset "utf-8";
@import "bootstrap/scss/bootstrap";
@import "base", "table", "syntax_highlighting", "images", "navbar", "satoshi_font";