{% extends "base.html" %}

{% block title %}{{ term.name | title }} | {{ config.title }}{% endblock title %}

{% block content %}
<section class="animate__animated animate__fadeIn">
  <h1>{{ term.name | title }}</h1>

  <ul class="blog-list">
    {% for page in term.pages %}
    <li>
      <time datetime="{{ page.date | date(format='%Y-%m-%d') }}">{{ page.date | date(format="%b %-d, %Y") }}</time>
      <a href="{{ page.permalink }}">{{ page.title }}</a>
    </li>
    {% endfor %}
  </ul>
</section>
{% endblock content %}
